@font-face {
    font-family: "Mario";
    src: url('font/Mariott_DEMO.otf') format('truetype');
}
@font-face {
    font-family: "Media";
    src: url('font/Meditative.ttf') format('truetype');
}

body{
    height: 100%;
}
html{
    background-color: #1E2939;
    height: 100%;
}
.maxi{
    font-family: 'Media',sans-serif;
}
